@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

.marquee {
  position: relative;
  display: flex;
  justify-content: center;
  animation-duration: 40s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.marquee.pause {
  animation-play-state: paused;
}

.marquee.left-to-right {
  animation-name: left-to-right;
}

.marquee.right-to-left {
  animation-name: right-to-left;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes right-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

